{
  "openapi": "3.1.0",
  "info": {
    "title": "AI Engineering from Scratch public resources",
    "version": "1.2.0",
    "description": "Read-only, public machine-readable resources for the AI Engineering from Scratch curriculum. Lesson source remains canonical in the GitHub repository."
  },
  "servers": [
    {
      "url": "https://aiengineeringfromscratch.com"
    }
  ],
  "paths": {
    "/api/v1/markdown": {
      "description": "Version 1 of the public navigation-page representation API. /api/markdown remains a compatible alias. Additive changes preserve v1; breaking representation changes require a new versioned path. Only GET and HEAD are supported. No per-client rate quota is advertised or enforced by this handler.",
      "parameters": [
        {
          "name": "path",
          "in": "query",
          "description": "Navigation path: /, /about, /catalog, /glossary, /path, /roadmap, /developer, /docs, /contact, or /privacy. Unknown paths return 404. Send Accept: text/markdown to request the curriculum index; text/html selects the navigation page. Accept quality values are respected.",
          "schema": { "type": "string", "default": "/" }
        }
      ],
      "get": {
        "summary": "Read a public navigation page as HTML or Markdown",
        "operationId": "getPublicRepresentationV1",
        "responses": {
          "200": {
            "description": "Selected representation; Markdown contains the curriculum index with the requested route context",
            "headers": {
              "X-API-Version": { "$ref": "#/components/headers/ApiVersion" },
              "Vary": { "schema": { "type": "string", "const": "Accept, Accept-Encoding" } }
            },
            "content": {
              "text/html": { "schema": { "type": "string" } },
              "text/markdown": { "schema": { "type": "string" } }
            }
          },
          "404": {
            "description": "Unknown path, with HTML or Markdown recovery links when accepted, otherwise RFC 9457 problem details. Errors are not cached.",
            "headers": { "X-API-Version": { "$ref": "#/components/headers/ApiVersion" } },
            "content": {
              "text/html": { "schema": { "type": "string" } },
              "text/markdown": { "schema": { "type": "string" } },
              "application/problem+json": { "schema": { "$ref": "#/components/schemas/Problem" } }
            }
          },
          "405": { "$ref": "#/components/responses/ReadOnlyMethod" },
          "406": { "$ref": "#/components/responses/UnsupportedRepresentation" }
        }
      },
      "head": {
        "summary": "Read representation metadata without a response body",
        "operationId": "headPublicRepresentationV1",
        "responses": {
          "200": {
            "description": "Same headers and status as GET, without a body",
            "headers": { "X-API-Version": { "$ref": "#/components/headers/ApiVersion" } }
          },
          "404": {
            "description": "Unknown path, without a response body",
            "headers": { "X-API-Version": { "$ref": "#/components/headers/ApiVersion" } }
          },
          "406": {
            "description": "Neither HTML nor Markdown is acceptable, without a response body",
            "headers": { "X-API-Version": { "$ref": "#/components/headers/ApiVersion" } }
          }
        }
      }
    },
    "/llms.txt": {
      "get": {
        "summary": "Read the agent-oriented curriculum map",
        "operationId": "getAgentIndex",
        "responses": {
          "200": {
            "description": "Markdown lesson and resource index",
            "content": {
              "text/markdown": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/sitemap.xml": {
      "get": {
        "summary": "Read canonical public URLs",
        "operationId": "getSitemap",
        "responses": {
          "200": {
            "description": "XML sitemap",
            "content": {
              "application/xml": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/lesson": {
      "parameters": [
        {
          "name": "path",
          "in": "query",
          "required": true,
          "schema": {
            "type": "string",
            "pattern": "^(phases|certifications)/"
          },
          "description": "Repository-relative lesson path, for example phases/01-math-foundations/01-linear-algebra-intuition"
        }
      ],
      "get": {
        "summary": "Open a crawlable rendered lesson",
        "operationId": "getLesson",
        "responses": {
          "200": {
            "description": "Rendered lesson page with lesson-specific metadata and visible content",
            "content": {
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "308": {
            "$ref": "#/components/responses/PermanentRedirect"
          },
          "404": {
            "description": "Missing, invalid, or unknown lesson path",
            "content": {
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "405": {
            "description": "Method not allowed; use GET or HEAD"
          },
          "500": {
            "description": "Lesson page could not be assembled"
          }
        }
      },
      "head": {
        "summary": "Read lesson response metadata",
        "operationId": "headLesson",
        "responses": {
          "200": {
            "description": "Lesson exists"
          },
          "308": {
            "$ref": "#/components/responses/PermanentRedirect"
          },
          "404": {
            "description": "Missing, invalid, or unknown lesson path"
          },
          "405": {
            "description": "Method not allowed; use GET or HEAD"
          },
          "500": {
            "description": "Lesson page could not be assembled"
          }
        }
      }
    },
    "/certification": {
      "parameters": [
        {
          "name": "id",
          "in": "query",
          "required": true,
          "schema": {
            "type": "string",
            "pattern": "^[a-z0-9][a-z0-9._-]*$"
          },
          "description": "Certification track identifier, for example claude-ccao-f"
        }
      ],
      "get": {
        "summary": "Open a crawlable certification track",
        "operationId": "getCertification",
        "responses": {
          "200": {
            "description": "Rendered certification page with track-specific metadata and visible content",
            "content": {
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "308": {
            "$ref": "#/components/responses/PermanentRedirect"
          },
          "404": {
            "description": "Missing, invalid, or unknown certification track ID",
            "content": {
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "405": {
            "description": "Method not allowed; use GET or HEAD"
          },
          "500": {
            "description": "Certification page could not be assembled"
          }
        }
      },
      "head": {
        "summary": "Read certification response metadata",
        "operationId": "headCertification",
        "responses": {
          "200": {
            "description": "Certification track exists"
          },
          "308": {
            "$ref": "#/components/responses/PermanentRedirect"
          },
          "404": {
            "description": "Missing, invalid, or unknown certification track ID"
          },
          "405": {
            "description": "Method not allowed; use GET or HEAD"
          },
          "500": {
            "description": "Certification page could not be assembled"
          }
        }
      }
    },
    "/lesson.html": {
      "parameters": [
        {
          "name": "path",
          "in": "query",
          "required": true,
          "schema": {
            "type": "string"
          },
          "description": "Repository-relative lesson path preserved by the compatibility redirect"
        }
      ],
      "get": {
        "summary": "Redirect a legacy lesson URL to /lesson",
        "operationId": "redirectLegacyLesson",
        "deprecated": true,
        "responses": {
          "308": {
            "description": "Permanent compatibility redirect to /lesson with the query string preserved",
            "headers": {
              "Location": {
                "description": "Canonical extensionless lesson URL",
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "head": {
        "summary": "Redirect a legacy lesson HEAD request to /lesson",
        "operationId": "redirectLegacyLessonHead",
        "deprecated": true,
        "responses": {
          "308": {
            "description": "Permanent compatibility redirect to /lesson with the query string preserved",
            "headers": {
              "Location": {
                "description": "Canonical extensionless lesson URL",
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/certification.html": {
      "parameters": [
        {
          "name": "id",
          "in": "query",
          "required": true,
          "schema": {
            "type": "string"
          },
          "description": "Certification track ID preserved by the compatibility redirect"
        }
      ],
      "get": {
        "summary": "Redirect a legacy certification URL to /certification",
        "operationId": "redirectLegacyCertification",
        "deprecated": true,
        "responses": {
          "308": {
            "description": "Permanent compatibility redirect to /certification with the query string preserved",
            "headers": {
              "Location": {
                "description": "Canonical extensionless certification URL",
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "head": {
        "summary": "Redirect a legacy certification HEAD request to /certification",
        "operationId": "redirectLegacyCertificationHead",
        "deprecated": true,
        "responses": {
          "308": {
            "description": "Permanent compatibility redirect to /certification with the query string preserved",
            "headers": {
              "Location": {
                "description": "Canonical extensionless certification URL",
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "headers": {
      "ApiVersion": {
        "description": "Public representation API major version",
        "schema": { "type": "string", "const": "1" }
      }
    },
    "schemas": {
      "Problem": {
        "type": "object",
        "description": "RFC 9457 problem details with a stable code extension. The status matches the HTTP status; about:blank uses the standard HTTP reason phrase as its title.",
        "required": ["type", "title", "status", "code", "detail"],
        "properties": {
          "type": { "type": "string", "const": "about:blank" },
          "title": { "type": "string" },
          "status": { "type": "integer", "minimum": 400, "maximum": 599 },
          "code": { "type": "string", "enum": ["resource_not_found", "method_not_allowed", "representation_not_supported"] },
          "detail": { "type": "string" }
        }
      }
    },
    "responses": {
      "ReadOnlyMethod": {
        "description": "Method not allowed; use GET or HEAD. Errors are not cached.",
        "headers": {
          "Allow": { "schema": { "type": "string", "const": "GET, HEAD" } },
          "X-API-Version": { "$ref": "#/components/headers/ApiVersion" }
        },
        "content": {
          "application/problem+json": { "schema": { "$ref": "#/components/schemas/Problem" } }
        }
      },
      "UnsupportedRepresentation": {
        "description": "Request text/html or text/markdown. Errors are not cached.",
        "headers": { "X-API-Version": { "$ref": "#/components/headers/ApiVersion" } },
        "content": {
          "application/problem+json": { "schema": { "$ref": "#/components/schemas/Problem" } }
        }
      },
      "PermanentRedirect": {
        "description": "Permanent redirect to the canonical public URL",
        "headers": {
          "Location": {
            "description": "Canonical destination URL",
            "schema": {
              "type": "string"
            }
          }
        }
      }
    }
  }
}
